
{#def
    id="", 
    text="", 
    type="button", 
    button_style="default", 
    classes="", 
    disabled=False, 
    tooltip=None, 
    href=None, 
    padding="px-4 py-2",
    spacing="space-x-1"
#}

{% set _base_css_classes = "hover:text-white dark:hover:text-white rounded-lg " %}
{% set _conditional_base_css_classes =  "border focus:ring-4 focus:outline-none font-medium text-sm text-center " %}
{% set _main_css_classes = _base_css_classes if text == "" and caller is none else _base_css_classes + _conditional_base_css_classes %}

{% set _primary_css_classes = _main_css_classes + "border-primary-700 hover:bg-primary-800 focus:ring-primary-300 text-primary-600 dark:border-primary-500 dark:text-primary-500 dark:hover:bg-primary-600 dark:focus:ring-primary-900" %}
{% set _default_css_classes = _main_css_classes + "border-gray-700 hover:bg-gray-800 focus:ring-gray-300 text-gray-600 dark:border-gray-500 dark:text-gray-500 dark:hover:bg-gray-600 dark:focus:ring-gray-900" %}


{% if button_style == "spinner" %}

    <button id="{{id}}" type="{{type}}" class="{{ _primary_css_classes }} {{ padding }} {{ spacing }} {{ classes }}" disabled="true"  {{ attrs.render() }} >
        {% set spinner_text = "Loading..." if text == "" else text %}
        <Flowbite.Spinner text={{spinner_text}} />
    </button>

{% else %}

    {% set target_css_classes = _default_css_classes %}
    {% set disabled_attr = "true" if disabled else "false"  %}

    {% if button_style == "primary" %}
        {% set target_css_classes = _primary_css_classes %}
    {% endif %}

    <div class="group">

        {% if tooltip %}
            <Flowbite.Tooltip id={{id ~ '-tooltip'}} text={{tooltip}} />
        {% endif %}


        <button id="{{id}}" type="{{type}}" class="{{ target_css_classes }} {{ padding }} {{ spacing }} {{ classes }}" disable="{{disabled_attr}}" {{ attrs.render() }} >
            {% if text %}
                {{ text }}    
            {% endif %}
            {{ content }}
        </button>

    </div>

{% endif %}

