{#def
    id="", 
    classes="", 
    show_header=True,
    show_header_subtitle=False,    
    show_header_controls=True,
    title="",
    subtitle="",
    title_text_size_class="text-lg",
    subtitle_text_size_class="text-base", 
    header_bg_class="bg-gray-50 dark:bg-gray-700",
    enable_header_bg=False
#}


{% set __header_bg_classes = header_bg_class if enable_header_bg else "" %}

{% set __card_body_classes = "border-t border-gray-200 shadow-sm dark:border-gray-600" if enable_header_bg else "" %}


<div id="{{ id }}" class="mb-4 xl:mb-2 pb-1 bg-white border border-gray-300 rounded-lg shadow-md dark:border-gray-700 dark:bg-gray-800 {{ classes }}">

    {% if show_header %}

        <Flowbite.CardHeader 
            id={{ id }}
            title={{ title }}
            subtitle={{ subtitle }}
            header_bg_classes={{ __header_bg_classes }}
            title_text_size_class={{ title_text_size_class }}
            subtitle_text_size_class={{ subtitle_text_size_class }}
            show_header_subtitle={{ show_header_subtitle }}
            show_header_controls={{ show_header_controls }}
            />

    {% endif %}

    <div class="p-4 {{ __card_body_classes }}" >
        {{ content }}
    </div>
</div>
