{#def
id="",
classes="",
checked=False,
disabled=False,
#}

{% set disabled_attr = "true" if disabled else "false" %}

{% if checked %}

    <input checked="" id="{{ id }}" type="checkbox" value="" name="role" disable="{{disabled_attr}}"  {{ attrs.render() }} 
        class="w-4 h-4 bg-gray-100 rounded border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600  {{ classes }}">

{% else %}

    <input id="{{ id }}" type="checkbox" value="" name="role" disable="{{disabled_attr}}"  {{ attrs.render() }} 
        class="w-4 h-4 bg-gray-100 rounded border-gray-300 text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 {{ classes }}">

{% endif %}

